<html>
<head>
    <meta charset="UTF-8">
    <title>WalletWatcher</title>
    <link rel="stylesheet" href="../static/css/calendar.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>  
    <nav class="navbar">
            <div class="nav-left">
               <img src="../images/logo.png" alt="LOGO" class="logo">
               
            </div>
            <div class="nav-center">
                <h1 class="main-heading">Wallet Watcher</h1>
                <h2>Personal Expense Tracker</h2>
                <p>Get real-time updates and insights on your holdings.</p>
                
            </div>
            <div class="nav-right" id="Topnav">
                <a href="dashboard.html">Dashboard</a>
                <a href="index.html">Logout</a>
            </div>
    </nav>
    <section>
       <div class="calendar">
        <div class="header">
        <h2>April 2026</h2>
        </div>

  <div class="days">
    <div>Sun</div><div>Mon</div><div>Tue</div><div>Wed</div>
    <div>Thu</div><div>Fri</div><div>Sat</div>
  </div>

  <div class="dates">
    <div></div>
    <div></div>
    <div>1</div><div>2</div><div>3</div><div>4</div><div>5</div>
    <div>6</div><div>7</div><div>8</div><div>9</div><div>10</div>
    <div>11</div><div>12</div><div>13</div><div>14</div><div>15</div>
    <div>16</div><div>17</div><div>18</div><div>19</div><div>20</div>
    <div>21</div><div>22</div><div>23</div><div>24</div><div>25</div>
    <div>26</div><div>27</div><div>28</div><div>29</div><div>30</div>
    <div>31</div>
  </div>
</div>
    </section>   
    <footer class="footer">
        <div class="footer-icons">
            <a href="https://www.facebook.com/ExpenseTracker2.0" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/personal_expense_tracker/" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
            </a>
            <a href="mailto:info@walletwatcher.com" aria-label="Email">
            <i class="fas fa-envelope"></i>
            </a>
            <p>Walletwatcher &copy 2026 All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>