<html>
<head>
    <meta charset="UTF-8">
    <title>WalletWatcher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>  
    <nav class="navbar">
        <div class="nav-left">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="Logo">
        </div>

        <div class="nav-center">
            <h1 class="main-heading">Wallet Watcher</h1>
            <h2>Personal Expense Tracker</h2>
            <p>Get real-time updates and insights on your holdings.</p>

        </div>

        <div class="nav-right" id="navRight">
            <span class="welcome-text">
                Welcome {{ session['user'] }}
            </span>
            
                <a href="/dashboard" class="nav-btn">Dashboard</a>
                <a href="/logout" class="logout-btn">Logout</a>
                <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
                ☰
            </a>
            </div>
    </nav>
    <section>
       <div class="calendar">
        <div class="header">
        <h2>{{ month_name }} {{ year }}</h2>
   <div class="btn-container">
<a href="/calendar?move=prev&month={{ month }}&year={{ year }}">
    Previous
</a>

<a href="/calendar?move=current">
    Current Month
</a>

<a href="/calendar?move=next&month={{ month }}&year={{ year }}">
    Next
</a>
 
</div>
        </div>

  <div class="days">
    <div>Sun</div><div>Mon</div><div>Tue</div><div>Wed</div>
    <div>Thu</div><div>Fri</div><div>Sat</div>
  </div>

<div class="dates">

{% for week in calendar_data %}

    {% for day in week %}

        {% if day == 0 %}
            <div class="empty"></div>

        {% else %}
            <div class="date-cell">

                <div class="day-number">
                    {{ day }}
                </div>
{% if day in day_totals %}
    <div class="expense-amount">
        €{{ "%.2f"|format(day_totals[day]) }}
    </div>
{% endif %}
   
            </div>

        {% endif %}

    {% endfor %}

{% endfor %}

</div>
    </section>   
    <script src="../static/js/script.js"></script>
    <script src="../static/js/script.js"></script>
    <footer class="footer">
        <div class="footer-icons">
            <a href="https://www.facebook.com/ExpenseTracker2.0" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/personal_expense_tracker/" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
            </a>
            <a href="mailto:info@walletwatcher.com" aria-label="Email">
            <i class="fas fa-envelope"></i>
            </a>
            <p>Walletwatcher &copy 2026 All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>