<html>
<head>
    <meta charset="UTF-8">
    <title>WalletWatcher</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
        <div class="container">
        <div class="box">Wallet Watcher</div>
        <div class="box">Track your cryptocurrency wallets with ease. Get real-time updates and insights on your holdings.</div>
        <textarea class="button" onclick="window.location.href='email'">Email</textarea>
        <password class="button" onclick="window.location.href='/password'">Password</password>
        <button class="button" onclick="window.location.href='/login'">Log in</button>
        </div>
</body>
</html>