<html>
<head>
    <meta charset="UTF-8">
    <title>WalletWatcher</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>  
    <nav class="navbar">
            <div class="nav-left">
               <img src="../images/logo.png" alt="LOGO" class="logo">
               
            </div>
            <div class="nav-center">
                <h1 class="main-heading">Wallet Watcher</h1>
                <h2>Personal Expense Tracker</h2>
                <p>Get real-time updates and insights on your holdings.</p>
                
            </div>
            <div class="nav-right" id="Topnav">
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
                <a href="javascript:void(0);" class="icon" onclick="displayHamberger()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
    </nav>
    <section class="hero">
        
    <div class="hero-content"> 
           
            <h2>Track Your Wallets with Ease</h2>
            <p>Get real-time updates and insights on your holdings.</p>
               <div class="container">
               <div class="buttons">
                    <button class="button" onclick="window.location.href='/register'">Register</button>
                    <button class="button" onclick="window.location.href='/login'">Log in</button>
                </div> 
        </div>
    </section>   
    <footer class="footer">
        <div class="footer-icons">
            <a href="https://www.facebook.com/groups/1221633571194411" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/jobsireland.ie/?hl=en" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
            </a>
            <a href="mailto:info@walletwatcher.com" aria-label="Email">
            <i class="fas fa-envelope"></i>
            </a>
        </div>
    </footer>
</body>
</html>