<html>
<head>
    <meta charset="UTF-8">
    <title>WalletWatcher</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>  
    <nav class="navbar">
            <div class="nav-left">
               <img src="../images/logo.png" alt="LOGO" class="logo">  
            </div>
            <div class="nav-center">
                <h1 class="main-heading">Wallet Watcher</h1>
                <h2>Personal Expense Tracker</h2>
                <p1>Get real-time updates and insights on your holdings.</p1>    
            </div>
            <div class="nav-right" id="Topnav">
                <img src="../images/logo.png" alt="LOGO" class="logo">
            </div>
    </nav>
    <section class="hero">
        
    <div class="hero-content"> 
           
            <h2>Track Your Wallets with Ease</h2>
            <div class="about">
            
            <p2>Wallet Watcher is a web application designed to help users manage personal expenses and securely and efficiently. 
                It includes a login system to protect user data and a dashboard that displays a summary of spending and recent transactions. 
                Users can add new expenses by entering details like amount, category, and date, as well as delete entries to keep records accurate. 
                An edit page allows users to update existing expenses. With its simple interface and essential features, 
                Wallet Watcher helps users stay organized, track their spending habits, and make better financial decisions. </p2>
            </div>
                    
                <div class="container">
                    
                    <form id="signUpForm">
                        <h3> Login to get started!</h3>
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username">
                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password">
                        
                    <button type="button" class="loginbtn" id="loginBtn">Log in</button>
                    <p id="message"></p>
                    onclick="login('admin', 'admin')"
                </div> 
    </div>
    </div>
    </section> 
    <script src="../static/js/script.js"></script>  
    <footer class="footer">
        <div class="footer-icons">
            <a href="https://www.facebook.com/ExpenseTracker2.0" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/personal_expense_tracker/" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
            </a>
            <a href="mailto:info@walletwatcher.com" aria-label="Email">
            <i class="fas fa-envelope"></i>
            </a>
            <p>Walletwatcher &copy 2026 All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>